html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
}

header {
  background: rgb(34, 34, 34);
  width: 100%;
  height: 10px;
}

/* header h1 {
  margin: 0;
} */

#intro {
  width: 100%;
  height: 570px;
  color: #fff;
  /* background: rgb(17, 17, 17); */
  background: linear-gradient(rgb(17, 17, 17) 3%, rgb(26, 26, 26));
  background-size: 400px;
  position: relative;
  /* margin-top: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border-radius: 5% 0 0 0; */
}

#techWork {
  min-height: 150px;
  width: 100%;
  background: rgb(255, 255, 255);
}

.topBar {
  background: rgb(189, 231, 91);
  min-height: 60px;
  width: 100%;
  /* position: absolute; */
  z-index: 100;
  /* top: 0; */
}

h2 {
  border-bottom: 2px solid rgb(238, 238, 238);
  text-align: right;
  color: rgb(215, 255, 121);
  position: absolute;
  padding: 4px 0;
  width: 37%;
}
.title {
  margin-top: 85px;
  flex: 1;
  z-index: 100;
}

.title h2:first-of-type {
  /* width: 507px; */
  /* width: 40%; */
  right: -59;
  bottom: 290px;
}

.title h2:nth-of-type(2) {
  /* width: 507px; */
  /* width: 35%; */
  bottom: 220px;
}

#intro h1 {
  text-transform: uppercase;
  font-size: 3.4em;
  /* margin-left: 20%; */
  z-index: 150;
  text-align: center;
  margin-bottom: 0px;
}

#intro h1 span {
  /* color: rgba(255, 255, 255, 0.562); */
  color: rgba(131, 131, 131, 0.349);
}

strong {
  color: rgb(215, 255, 121);
}

.about-me {
  /* padding: 3rem; */
  background: rgba(36, 36, 36, 0.936);
  max-height: 100%;
  max-width: 510px;
  min-width: 510px;
  /* line-height: 1.8em; */
  position: relative;
  padding: 3rem;
  margin: 140px 0 0 0;
  z-index: 18;
}

.about-me p {
  font-weight: 400;
  letter-spacing: 0.04em;
  /* font-size: 1.1em; */
  text-align: right;
  line-height: 1.45em;
  color: rgba(255, 255, 255, 0.875);
}

.bg-shape2 {
  width: 0;
  height: 0;
  border-top: 240px solid rgba(0, 0, 0, 0.198);
  border-right: 507px solid transparent;
  position: absolute;
  /* left: -200px; */
  bottom: 0;
  /* z-index: -1; */
}

.bg-shape1 {
  width: 0;
  height: 0;
  border-bottom: 570px solid rgba(0, 0, 0, 0.116);
  border-right: 2050px solid transparent;
  position: absolute;
  left: -200px;
  /* z-index: -1; */
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 80px solid rgb(48, 48, 48);
  border-left: 150px solid transparent;
  display: inline-block;
  position: absolute;
  right: 360px;
  top: 60px;
  z-index: 8;
  /* transform: translateY(-150%); */
}
.bg-shape3 {
  z-index: 10;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  background: #fff;
  background: rgb(189, 231, 91);
  /* top: -5px; */
}
.drip {
  height: 400px;
  width: 400px;
  background: url("../images/drip-1.svg") top right no-repeat
    rgba(255, 255, 255, 0);
  background-size: 130px;
  position: absolute;
  left: -280px;
  top: -5px;
  /* transform: translateY(150%); */
  z-index: 10;
  /* top: 0px; */
}

.backbox {
  height: 80px;
  width: 360px;
  /* background: url("../images/dripshadow2.png") top -37px right -13px no-repeat
    rgba(48, 48, 48, 0.351); */
  background: rgba(48, 48, 48, 0.251);
  background-size: 250px;
  position: absolute;
  right: 0px;
  top: 60px;
  z-index: 8;
  /* transform: translateY(-150%); */
}

.dd {
  width: 100%;
  /* background: blue; */
  /* width: 900px; */
  margin: 0 auto 0;
  display: flex;
  justify-content: space-evenly;
}

article {
  /* background: rgb(248, 248, 248); */
  /* max-width: 400px; */
  background: #fff;
  /* border: 1px solid rgb(235, 235, 235); */
  padding: 40px 50px;
  /* text-align: center; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.692);
  /* text-align: left: */
}

article h3 {
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  margin: 10px 0 5px;
}

article p {
  /* font-weight: 500; */
  margin: 0 0 10px;
  letter-spacing: 0.04em;
  font-size: 1em;
}
.card-text {
  margin-left: 20px;
}

.des {
  background: rgb(32, 32, 32);
  /* background: rgb(44, 44, 44); */
  /* background: rgb(247, 247, 247); */
  /* background: rgb(189, 231, 91); */
  color: rgba(255, 255, 255, 0.692);
}

.dev {
  /* background: rgb(32, 32, 32); */
  background: rgb(44, 44, 44);
  /* background: rgb(189, 231, 91); */
  color: #fff;
}

article img {
  max-width: 60px;
}

.portfolio {
  background: rgb(22, 22, 22);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.portfolio h1 {
  max-width: 250px;
  font-size: 4.2em;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 40px 40px;
  line-height: 0.95em;
  color: rgb(216, 216, 216);
  /* text-align: right; */
}

.workGrid {
  width: 65%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px 220px;
}
#info-link {
  background: rgba(3, 3, 3, 0.329);
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#info-link h3 {
  color: rgba(255, 255, 255, 0.856);
  font-size: 2em;
  margin: 0 0 10px 0;
}

#info-link a {
  background: rgba(189, 231, 91, 0.863);
  color: #111;
  display: block;
  padding: 8px 30px;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  transition-duration: 200ms;
}

#info-link a:hover {
  background: rgb(189, 231, 91);
}

.gridBox {
  height: 220px;
  width: 100%;
}

.box1 {
  background: url("../images/staxx\ copy.jpg") center no-repeat;
  background-size: cover;
}

.box2 {
  background: url("../images/liri\ copy.jpg") center no-repeat;
  background-size: cover;
}

.box3 {
  background: url("../images/mcgeralds\ copy.jpg") center no-repeat;
  background-size: cover;
}

.box4 {
  background: url("../images/eatsh-bg\ copy.jpg") center no-repeat;
  background-size: cover;
}

.box5 {
  background: url("../images/bamazon\ copy.jpg") center no-repeat;
  background-size: cover;
}

.box6 {
  background: url("../images/train-bg\ copy.jpg") center no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  background: rgb(17, 17, 17);
  color: rgba(245, 245, 245, 0.808);
  z-index: 10;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  min-height: 250px;
  padding: 2.3rem;
}

#contact h5 {
  /* font-weight: lighter; */
  font-size: 1.4em;
  margin: 10px 0 0;
  letter-spacing: 0.03em;
}

#contact a {
  color: rgb(215, 255, 121);
  transition-duration: 150ms;
}

#contact a:hover {
  color: rgb(215, 255, 121);
}

#jump-top {
  text-decoration: none;
  font-size: 2.5rem;
  color: rgb(44, 44, 44);
}

/* .portfolio h1 {
  max-width: 400px;
  font-size: 8em;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 70px;
  line-height: 0.95em;
  color: rgb(216, 216, 216);
  /* text-align: right; */
/* }  */

@media (max-width: 1100px) {
  h2 {
    border-bottom: 2px solid rgb(238, 238, 238);
    text-align: right;
    color: rgb(215, 255, 121);
    position: absolute;
    padding: 4px 0;
    width: 35%;
    font-size: 1.4em;
  }
  /* .title {
    margin-top: 85px;
    flex: 1;
    z-index: 100;
  } */

  .title h2:first-of-type {
    bottom: 270px;
  }

  .title h2:nth-of-type(2) {
    bottom: 220px;
  }

  .title {
    margin-top: 90px;
  }

  #intro h1 {
    font-size: 2.6em;
  }

  #triangle-bottomright {
    top: 30px;
  }
  .backbox {
    top: 30px;
  }

  .about-me {
    padding: 2rem;
    margin: 110px 0 0 0;
  }
  .bg-shape1 {
    width: 0;
    height: 0;
    border-bottom: 510px solid rgba(0, 0, 0, 0.116);
  }

  #intro {
    width: 100%;
    height: 510px;
  }
}

@media (max-width: 950px) {
  #intro h1 {
    margin-top: 0px;
    margin-left: 2.1rem;
    width: 200px;
  }

  .portfolio {
    flex-direction: column;
  }

  .workGrid {
    width: 100%;
  }

  h2 {
    border-bottom: none;
    text-align: left;
    width: 20%;
    margin-left: 3rem;
    font-size: 1.3em;
  }

  .title h2:first-of-type {
    bottom: 95px;
  }

  .title h2:nth-of-type(2) {
    bottom: 165px;
  }
  article {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  article img {
    margin: 0;
    padding: 0;
  }

  .card-text {
    margin-left: 0;
  }
}

@media (max-width: 750px) {
  h2 {
    border-bottom: none;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-left: 3rem;
    font-size: 1.2em;
    /* font-weight: 400; */
    /* text-transform: uppercase; */
  }
  #intro {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .title h2:first-of-type {
    bottom: 95px;
    position: static;
  }

  .title h2:nth-of-type(2) {
    bottom: 165px;
    position: static;
  }
  .about-me {
    margin: 20px;
    max-width: 100%;
    min-width: 100px;
    background: none;
    padding-top: 0;
    padding-bottom: 0px;
  }

  .about-me p {
    text-align: left;
    font-weight: lighter;
    border-top: 1px solid rgba(238, 238, 238, 0.493);
    padding-top: 30px;
    padding-bottom: 20px;
    /* margin-top: -30px; */
  }
  .dd {
    width: 100%;
  }

  #intro h1 {
    width: 100%;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 15px;
  }

  .title {
    margin-top: 50px;
  }

  .backbox {
    display: none;
  }

  #triangle-bottomright {
    display: none;
  }

  .bg-shape1 {
    width: 0;
    height: 0;
    border-bottom: 280px solid rgba(0, 0, 0, 0.116);
  }

  .bg-shape3 {
    display: none;
  }
  .dd {
    flex-direction: column;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 215px 215px 215px 215px 215px 215px;
  }
  .gridBox {
    height: 220px;
  }
}

@media (max-width: 400px) {
  #intro h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  #intro h2 {
    font-size: 1em;
  }

  article {
    width: 100%;
  }
}
